.workAnnex {
    box-sizing: border-box;
    margin: 6px 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.workAnnex>img {
    width: 55px;
}

.progressBar {
    height: 5px;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(170, 170, 170);
}